{extend name="layout:index"/}

{block name="content"}
<!--== Start Page Header ==-->
<div id="page-header-wrapper">
    <div class="container">
        <div class="row">
            <!-- Page Title Area Start -->
            <div class="col-6">
                <div class="page-title-wrap">
                    <h1>商品列表</h1>
                </div>
            </div>
            <!-- Page Title Area End -->

            <!-- Page Breadcrumb Start -->
            <div class="col-6 m-auto">
                <nav class="page-breadcrumb-wrap">
                    <ul class="nav justify-content-end">
                        <li><a href="/index/index">首页</a></li>
                        <li><a href="/good/index" class="current">商品列表</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Page Breadcrumb End -->
        </div>
    </div>
</div>
<!--== End Page Header ==-->


<!--== Start Shop Page Wrapper ==-->
<div id="shop-page-wrapper" class="page-padding">
    <div class="container">
        <div class="row">
            <!-- Start Shop Page Content -->
            <div class="col-lg-9">
                <div class="shop-page-content-wrap">
                    <div class="products-settings-option d-block d-md-flex">
                        <div class="product-cong-left d-flex align-items-center">
                            <ul class="product-view d-flex align-items-center">
                                <li class="current" data-target="grid-view"><i class="fa fa-th"></i></li>
                                <li data-target="product-list-view"><i class="fa fa-list-ul"></i></li>
                            </ul>
                            <span class="show-items">{$goods->count()}</span>
                        </div>

                        <div class="product-sort_by d-flex align-items-center mt-3 mt-md-0">
                            <label for="sort">排序:</label>
                            <select name="type" id="type">
                            	{foreach $data as $v}
                            		{if $type==$v['type']}
                                	<option value="{$v['type']}" selected="select">{$v['name']}</option>
                                	{else/}
                                	<option value="{$v['type']}">{$v['name']}</option>
                                	{/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="shop-page-products-wrap">
                        <div class="products-wrapper">
                            <div class="row">

                            	{foreach $goods as $good}
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product-item">
                                        <!-- Product Thumbnail -->
                                        <figure class="product-thumbnail">
                                            <a href="/good/show?id={$good->id}" class="d-block">
                                                <img class="primary-thumb" src="{:setImg($good->imgs,1)}"
                                                     alt="Product"/>
                                                <img class="secondary-thumb" src="{:setImg($good->imgs,2)}"
                                                     alt="Product"/>
                                            </a>
                                            <figcaption class="product-hvr-content">
                                                <a href="/good/show?id={$good->id}" class="btn-wishlist" data-toggle="tooltip"
                                                   data-placement="left" title="添加喜欢"><i
                                                        class="fa fa-heart-o"></i></a>
                                                <a href="/good/show?id={$good->id}" class="btn btn-brand btn-quickView" data-toggle="modal"
                                                   data-target="#quickViewModal">查看</a>
                                            </figcaption>
                                        </figure>

                                        <!-- Product Details -->
                                        <div class="product-details">
                                            <a href="shop.html" class="product-cat-name">{$good->name}</a>
                                            <h2 class="product-name"><a href="/good/show?id={$good->id}">{:setStr(strip_tags($good->content),20)}</a></h2>
                                            <div class="product-prices">
                                            	{if $good->a_price!=0 && $good->a_price<$good->price}
                                                <del class="oldPrice">{$good->price}(元)</del>
                                                <span class="price">{$good->a_price}(元)</span>
                                                {else/}
                                                <span class="price">{$good->price}(元)</span>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product End -->
								{/foreach}
                                
                            </div>
                        </div>
                    </div>

                    <div class="pagination-area-wrap">
                        <nav class="page-pagination">
                            {$goods->render()}
                        </nav>
                    </div>
                </div>
            </div>
            <!-- End Shop Page Content -->

            <!-- Sidebar Area Start -->
            <div class="col-lg-3">

                <div id="sidebar-area-wrap">

                	 <div class="single-sidebar-wrap">
                	 	<h2 class="sidebar-title">搜索商品</h2>
	                	<form action="/good/index" method="get">
		                    <div class="input-group single-input-item pr-lg-50">
		                      <input type="text" value="{$title}" name="title" class="form-control" placeholder="商品名称" style="height: 50px;">
		                      <span class="input-group-btn">
		                        <button class="btn btn-default" type="submit">搜索</button>
		                      </span>
		                    </div><!-- /input-group -->
		                </form>
		            </div>

                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">商品类型</h2>
                        <div class="sidebar-body">
                            <ul class="sidebar-list">
                            	{foreach $goodtypes as $goodtype}
                                <li><a href="/good/index?good_type_id={$goodtype->id}">{$goodtype->name} <span>({$goodtype->goods()->count()})</span></a></li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->

                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">促销商品</h2>
                        <div class="sidebar-body">
                            <div class="products-wrapper product-list-view small-list">
								
								{foreach $goods1 as $good}
                                <!-- Start Single Product -->
                                <div class="single-product-item">
                                    <!-- Product Thumbnail -->
                                    <figure class="product-thumbnail">
                                        <a href="/good/show?id={$good->id}" class="d-block">
                                            <img class="primary-thumb" src="{:setImg($good->imgs,1)}"
                                                 alt="Product"/>
                                            <img class="secondary-thumb" src="{:setImg($good->imgs,2)}"
                                                 alt="Product"/>
                                        </a>
                                    </figure>

                                    <!-- Product Details -->
                                    <div class="product-details">
                                        <h2 class="product-name"><a href="/good/show?id={$good->id}">{$good->name}</a></h2>
                                        <div class="product-prices">
                                            <span class="price">{$good->a_price}(元)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Product -->
                                {/foreach}

                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->


                </div>
            </div>
            <!-- Sidebar Area End -->
        </div>
    </div>
</div>
<!--== End Shop Page Wrapper ==-->
{/block}

{block name="js"}
<script>
	var type=$("#type").val();
	$("#type").change(function(){
		window.location.href="/good/index?type="+$(this).children('option:selected').val();
	});

</script>
{/block}