{extend name="layout:index"/}

{block name="content"}

<!--== Start Page Header ==-->
<div id="page-header-wrapper">
    <div class="container">
        <div class="row">
            <!-- Page Title Area Start -->
            <div class="col-6">
                <div class="page-title-wrap">
                    <h1>我的喜欢</h1>
                </div>
            </div>
            <!-- Page Title Area End -->

            <!-- Page Breadcrumb Start -->
            <div class="col-6 m-auto">
                <nav class="page-breadcrumb-wrap">
                    <ul class="nav justify-content-end">
                        <li><a href="/index/index">首页</a></li>
                        <li><a href="/good/index">商品</a></li>
                        <li><aclass="current">我的喜欢</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Page Breadcrumb End -->
        </div>
    </div>
</div>
<!--== End Page Header ==-->

<!--== Start Wishlist Page Wrapper ==-->
<div id="wishlist-page-wrapper" class="page-padding">
    <div class="container">
        <!-- Wishlist Page Content Start -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Wishlist Table Area -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="pro-thumbnail">商品缩略图片</th>
                            <th class="pro-title">商品名称</th>
                            <th class="pro-price">商品价格</th>
                            <th class="pro-quantity">商品状态</th>
                            <th class="pro-subtotal">加入购物车</th>
                            <th class="pro-remove">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {foreach $user->loves()->select() as $good}
                        <tr>
                            <td class="pro-thumbnail">
                                <a href="/good/show?id={$good->id}">
                                    <img class="img-fluid" src="{:setImg($good->imgs,1)}" alt="Product"/>
                                </a>
                             </td>
                            <td class="pro-title"><a href="/good/show?id={$good->id}" id="name{$good->id}">{$good->name}</a></td>
                            <td class="pro-price"><span id="price{$good->id}">{$good->a_price==0?$good->price:$good->a_price}(元)</span></td>
                            
                            {if $good->stock>=10}
                            <td class="pro-quantity"><span class="text-success">有货</span></td>
                            {else/}
                            <td class="pro-quantity"><span class="text-danger">库存不足</span></td>
                            {/if}

                            <td class="pro-subtotal"><a href="/good/show?id={$good->id}" class="btn btn-brand btn-small">Add to Cart</a>
                            </td>
                            <td class="pro-remove"><a onclick="love('{$good->id}',2,2)"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        {/foreach}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Wishlist Page Content End -->
    </div>
</div>
<!--== Start Wishlist Page Wrapper ==-->

{/block}
{block name="js"}
	<script>
		function love(id,type,num) {
            layer.confirm('确认要删除吗？',function(index){
                //删除
                $.ajax({
                    type: 'GET',
                    url: '/good/love?good_id='+id+'&type='+type+'&num='+num,
                    success: function(data){
                        if(data.error==0){
                            layer.msg('有缘再见',{icon:1,time:1000});
                            location.reload();
                        }else{
                            layer.msg('修改失败，请稍后再试',{icon:2,time:1000});
                        }
                    },
                });
            });

        }    
	</script>
{/block}
