<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>佳人购系统后台</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/admin/css/animate.min.css" rel="stylesheet">
    <link href="/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    {block name="css"} {/block}

    <script src="/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/admin/js/plugins/layer/layer.min.js"></script>
    {block name="header_js"} {/block}
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<style>
    .pagination{
        margin: -10px 0 0 0;
    }

</style>

{block name="content"} {/block}

<script src="/admin/js/bootstrap.min.js?v=3.3.6"></script>

{block name="js"} {/block}

</body>

</html>
