{extend name="layout:index"/}


{block name="content"}
<!--== Start Page Header ==-->
<div id="page-header-wrapper">
    <div class="container">
        <div class="row">
            <!-- Page Title Area Start -->
            <div class="col-6">
                <div class="page-title-wrap">
                    <h1>店铺信息</h1>
                </div>
            </div>
            <!-- Page Title Area End -->

            <!-- Page Breadcrumb Start -->
            <div class="col-6 m-auto">
                <nav class="page-breadcrumb-wrap">
                    <ul class="nav justify-content-end">
                        <li><a href="/index/index">首页</a></li>
                        <li><a href="/index/admins">店铺列表</a></li>
                        <li><a class="current">店铺信息</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Page Breadcrumb End -->
        </div>
    </div>
</div>
<!--== End Page Header ==-->
<!--== Start Contact Page ==-->
<div id="contact-page-wrapper" style="margin: 100px 0 100px 0;">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Contact Info  -->
            <div class="col-lg-6">
                <div class="contact-info-wrap contact-method">
                    <h2>{$admin->name}</h2>

                    <div class="contact-info-items">
                        <div class="single-contact-info">
                            <h3><i class="fa fa-phone"></i> Call</h3>
                            <a href="tel:+23140596971">{$admin->phone}</a>
                        </div>

                        <div class="single-contact-info">
                            <h3><i class="fa fa-user-plus"></i>User</h3>
                            <a href="mailto:your@email.here">{$admin->username}</a>
                        </div>

                        <div class="single-contact-info">
                            <h3><i class="fa fa-map-marker"></i> Address</h3>
                            <a href="#" target="_blank">{$admin->address}</a>
                        </div>

                        <div class="single-contact-info">
                            <h3><i class="fa fa-clock-o"></i> Working Hours</h3>
                            <a href="#" target="_blank"><b>Monday – Saturday:</b> 08AM – 22PM</a>
                        </div>
                    </div>
                        
                    <br>
                    <p>{$admin->content}</p>
                    
                    <div class="product-share-area">
                        <a href="/index/service?id={$admin->id}" class="btn btn-transparent btn-semi-round"><i class="fa fa-shopping-cart"></i> 联系客服</a>
                    </div>
                </div>
            </div>
            <!-- End Contact Info  -->

            <!-- Start Contact Form -->
            <div class="col-lg-6">
                <div class="contact-form-wrap contact-method">
                    <h2>优选商品</h2>
                    <div class="row">
                        {foreach $goods as $good}
                        <!-- Single Product Start -->
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-product-item">
                                <!-- Product Thumbnail -->
                                <figure class="product-thumbnail">
                                    <a href="/good/show?id={$good->id}" class="d-block">
                                        <img class="primary-thumb" src="{:setImg($good->imgs,1)}"
                                             alt="Product"/>
                                        <img class="secondary-thumb" src="{:setImg($good->imgs,2)}"
                                             alt="Product"/>
                                    </a>
                                    <figcaption class="product-hvr-content">
                                        <a href="/good/show?id={$good->id}" class="btn-wishlist" data-toggle="tooltip"
                                           data-placement="left" title="添加喜欢"><i
                                                class="fa fa-heart-o"></i></a>
                                        <a href="/good/show?id={$good->id}" class="btn btn-brand btn-quickView" data-toggle="modal"
                                           data-target="#quickViewModal">查看</a>
                                    </figcaption>
                                </figure>

                                <!-- Product Details -->
                                <div class="product-details">
                                    <a href="shop.html" class="product-cat-name">{$good->name}</a>
                                    <h2 class="product-name"><a href="/good/show?id={$good->id}">{:setStr(strip_tags($good->content),20)}</a></h2>
                                    <div class="product-prices">
                                        {if $good->a_price!=0 && $good->a_price<$good->price}
                                        <del class="oldPrice">${$good->price}</del>
                                        <span class="price">${$good->a_price}</span>
                                        {else/}
                                        <span class="price">${$good->price}</span>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        {/foreach}
                    </div>
                </div>
            </div>
            <!-- End Contact Form -->

        </div>
    </div>
</div>
<!--== End Contact Page ==-->

{/block}


{block name="js"}
<script>
 


</script>
{/block}